/**********GENERAL RULES******/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    display: table;
    clear: both;
    content: "";
}

.flex{
    display: flex;
}

.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
}
.relative{
    position: relative;
    bottom: 0;
   
}
/***COMMON RULES*****/
.container{
    width: 100%;
    display: inline-block;
}

img{
    height: 50px;
}




/****LEFT SIDE***************/

.left_side{
    width: 8%;
    height: 100vh;
    background-color: pink;
    float: left;
}
.col_20{
    display: flex;
    justify-content: space-evenly;
}

.col_20 .spotify_section, .col_20 .user{
    width: 100%;   
}

.spotify_section{
    background-color: black;
    color: white;
}

.user{
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: auto;

    }

    /*******CENTRAL SIDE TOP********/
    .central_side_top{
        width: 92%;
        background-color: yellow;
        float: left;
    }
    .call_to_action{
        width: 12%;
    background-color: rgb(197, 11, 11);
    height: 100px;
    margin-right: 33px;
    margin-top: 32px;
    margin-left: auto;
    }
    .upgrade>h4{
        color: white;
        border: white solid 2px;
        padding: 20px;
       border-radius: 20px;
    }

    /****CENTRAL SIDE CENTER********/
    .central_side_center{
        width: 92%;
        background-color: black;
        float: left;
    }

    .categorie{
        background-color:black;
        width: 40%;
        margin: 0px auto
    }
    .categorie a{
        text-decoration: none;
    }
    .categorie li{
        display: inline;
        text-align: center;
        padding: 11px;
    }

    .played{
        width: 100%;
        background-color: black;
    
    }

    .row{
        display:flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-between;


    }
    .film{
    background-color: black;
    width: 100%;
    margin-left: 16px;
}
    .card{
    background-color: black;
    text-align: center;
    width: 182px;
    padding: 13px;
    margin-top:0px;
    }
    .central_side_center h5,.central_side_center h3{
        color: white;
    }
    .central_side_center p{
        color: lightslategrey;
    }