/* ____RESET RULES__________________________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____COMMON RULES__________________________ */
.flex{
    display: flex;
}

/* ___  DEBUG _____________________________ */
.bg-aqua{
    background-color: aqua;
}
.bg-fuchsia{
    background-color:fuchsia ;    
}
.bg-limegreen{
    background-color:limegreen ;    
}
.bg-yellow{
    background-color:yellow ;    
}
.bg-blueviolet{
    background-color: blueviolet;    
}
.bg-gold{
    background-color: gold;    
}
.bg-cornflowerblue{
    background-color:cornflowerblue ;    
}
.bg-brown{
    background-color: brown;    
}
/* ___main tag________ */

header{
    position:fixed;
    top:0;
    width:100%;
    text-align: right;
    padding: 2rem;
}
.aside{
    position: fixed;
    left: 0;
    height: 100%;
    padding: 2rem;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem;
}