/* ____RESET RULES__________________________ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____COMMON RULES__________________________ */
.flex{
    display: flex;
}

/* ___  DEBUG _____________________________ */
.bg-aqua{
    background-color: aqua;
}
.bg-fuchsia{
    background-color:fuchsia ;    
}
.bg-limegreen{
    background-color:limegreen ;    
}
.bg-yellow{
    background-color:yellow ;    
}
.bg-blueviolet{
    background-color: blueviolet;    
}
.bg-gold{
    background-color: gold;    
}
.bg-cornflowerblue{
    background-color:cornflowerblue ;    
}
.bg-brown{
    background-color: brown;    
}
.border{
    border: darkblue 2px dashed;
}
/* ___main tag_____________________ */
body{
    font-family: 'Roboto', sans-serif;
}
/* ___ general tag _________________ */
.container-web-app{
    background-color: lightseagreen;
    height: 100vh;
    border: 5px dashed orange;
    display: flex;
    flex-direction: column;
}
.container-web-app .top-main{
    background-color: chartreuse;
    border: 3px dashed yellow;
    display: flex;
    height: 100%;
}
.top-main .aside{
    border: 3px dashed yellow;
    background-color: fuchsia;

}
.top-main .container-upgrade-films{
    border: 3px dashed yellow;
    width: 100%;
}
.top-main .upgrade{
    position: sticky;
    top: 0;
}
.top-main .main{
    background-color: cornflowerblue;
}

.container-web-app .videoplayer{
    position: sticky;
    bottom: 0;
    background-color: cadetblue;
    border: 3px dashed yellow;
    width: 100%;

}